In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
contigs = pd.read_csv('/oak/stanford/groups/dpwall/users/briannac/_old_unmapped_reads/data/ref_genomes/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai', header=None, sep='\t')

NameError: name 'pd' is not defined

In [2]:
chroms = np.array([v.split('_')[0].replace('chr', '') for v in contigs[0].values])
sub_chroms = np.array([(v+'_0').split('_')[1].replace('chr', '') for v in contigs[0].values])

chrom_int = [int(c) if ((c!='EBV') & (c!='X') & (c!='Y') & (c!='M') & (c!='Un') & ('HLA' not in c)) else 100 for c in chroms]
contigs['chrom_int'] = chrom_int
contigs['sub_chrom'] = sub_chroms
contigs.loc[chroms=='X', 'chrom_int'] = 23
contigs.loc[chroms=='Y', 'chrom_int'] = 24
contigs.loc[chroms=='M', 'chrom_int'] = 25
contigs.loc[chroms=='Un', 'chrom_int'] = 26

NameError: name 'contigs' is not defined

In [8]:
.05/sum(contigs[1])

1.554075494184577e-11

In [7]:
#contigs.sort_values(['chrom_int', 'sub_chrom'])[0].to_csv('/scratch/groups/dpwall/personal/briannac/unmapped_reads/pileups/data/contig_list.txt',
#                                                          index=False, header=None, sep='\t')
#contigs.sort_values(['chrom_int', 'sub_chrom']).to_csv('/scratch/groups/dpwall/personal/briannac/unmapped_reads/pileups/data/contigs.tsv',
#                                                          index=False, header=None, sep='\t')

In [4]:
sum(contigs.iloc[25:][1])

129060516

In [5]:
# Making bed file of alt contigs.
bed = copy.deepcopy(contigs.iloc[25:])
bed[2]=bed[1]
bed[1]=0
#bed=bed[[('chrY' not in v) for v in bed[0].values]]
bed.drop(columns=[3,4,'chrom_int','sub_chrom']).to_csv(
    '/scratch/groups/dpwall/personal/briannac/unmapped_reads/pileups/data/alt_chroms.bed',
sep='\t', index=None, header=None)

In [31]:
## Sum of other reads
print('Total length of alt contigs: ', sum(contigs[contigs[0]!='chrM'].sort_values([1], ascending=False).iloc[24:][1]))

Total length of alt contigs:  120999704

In [21]:
chunks = pd.read_csv('/oak/stanford/groups/dpwall/users/briannac/_old_unmapped_reads/data/ref_genomes/hg38/pileup_references.tsv', sep=' ', header=None, chunksize=10000000)
for i,c in enumerate(chunks):
    if c.iloc[0][0]!='chr1':
        break

In [20]:
c

              0         1
250000000  chr2   1043579
250000001  chr2   1043580
250000002  chr2   1043581
250000003  chr2   1043582
250000004  chr2   1043583
...         ...       ...
259999995  chr2  11043574
259999996  chr2  11043575
259999997  chr2  11043576
259999998  chr2  11043577
259999999  chr2  11043578

[10000000 rows x 2 columns]

In [ ]:
pileup_refs

In [11]:
contigs[contigs[0]!='chrM']

                           0          1           2   3   4
0                       chr1  248956422           6  50  51
1                      chr10  133797422   253935564  50  51
2                      chr11  135086622   390408942  50  51
3    chr11_KI270721v1_random     100316   528197322  50  51
4                      chr12  133275309   528299652  50  51
..                       ...        ...         ...  ..  ..
450         chrUn_GL000216v2     176608  3055564923  50  51
451         chrUn_GL000218v1     161147  3055745082  50  51
452                     chrX  156040895  3055909458  50  51
453                     chrY   57227415  3215071177  50  51
454   chrY_KI270740v1_random      37240  3273443165  50  51

[454 rows x 5 columns]